{% extends 'base.html'%}
{% import 'macros.html' as macro%}


<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/movie.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}
<div class="container-fluid" style="background: url('https://images.unsplash.com/photo-1525426250015-4e6473cdbf17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');">
    <!-- Poster background -->
    <div class="row text-center">
        <div class="col-md-5 col-lg-5 posterPath" style="background: url({{movie.poster}}) no-repeat center center">
        </div>
        <div class="col-md-7  movie-details">
            <h3 class="text-danger" >{{ movie.title }}</h3>
            <p class="overview text-info text-center" style="font-size: 25px;"> {{ movie.overview }}</p>
            <p class="ratings" style="justify-content: space-between;"> <b style="justify-content: flex-start;"> {{ movie.vote_average }}</b> - <i>{{ movie.vote_count}} votes </i> </p>
            <a class="ratings" href="/movie/review/new/{{movie.id}}" style="font-size: 20px;"> Write a new review</a>
        </div>
    </div>
    <div class="row text-center">
        <h1 class="text-warning">Reviews</h1>
        <hr>
        {% if reviews %}
            {{macro.displayReviews(reviews)}}
        {% else%}
            <h3 class="text-info">This movie has no reviews </h3>
            <a class="btn btn-success btn-lg text-center" href="/movie/review/new/{{movie.id}}"> Write a new review</a>
        {% endif %}
    </div>
</div>
{% endblock %}